<!-- Smoothies is for displaying all Questions -->
<%- include('partials/header'); -%>
<div class="wrapper">
  <button type="button" class="btn-success">
    <a href="/UpdateQuestionList" class="textC">Ask Question</a>
  </button>
  <div class="search-input">
    <a href="" target="_blank" hidden></a>
    <input type="text" placeholder="Type to search.." />
    <div class="icon"><i class="fas fa-search"></i></div>
  </div>
</div>
<ul class="recipes">
  <% question.forEach(function(q){ %>
  <li class="recipe">
    <img src="/logo2.png" alt="smoothie recipe icon" />
    <h4><%= q.title %></h4>
    <p style="margin-bottom: 10px"><%= q.author.id %></p>
    <a href="/questions/<%= q._id %>" class="button-two" style="color: white">
      <b>More-Info</b>
    </a>
  </li>
  <% }); %>
</ul>
<%- include('partials/footer'); -%>
