<!-- Smoothies is for displaying all Questions -->
<%- include('partials/header'); -%>
<script
  src="https://kit.fontawesome.com/6e18d74916.js"
  crossorigin="anonymous"
></script>
<div class="wrapper">
  <button type="button" class="btn-success">
    <a href="/UpdateQuestionList" class="textC">Ask Question</a>
  </button>
  <div class="search-input">
    <a href="" target="_blank" hidden></a>
    <input type="text" placeholder="Type to search.." />
    <div class="icon"><i class="fas fa-search"></i></div>
  </div>
</div>
<ul class="recipes"> -->
  <% question.forEach(function(q){ %>
  <li class="recipe">
    <img src="/logo2.png" alt="smoothie recipe icon" />
    <h4><%= q.title %></h4>
    <p><%= q.author.id %></p>
    <a href="/questions/<%= q._id %>">More-Info</a>
  </li>
  <% }); %>
  <!-- </ul>
<%- include('partials/footer'); -%>
